.alert {
    padding: 20px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.success {background-color: #4CAF50;} /* Green */

.info {background-color: #2196F3;} /* Blue */

.warning {background-color: #ff9800;} /* Orange */

.danger {background-color: #f44336;} /* Red */ 

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
